@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 234, 234, 234; /* Change this to your desired background color (RGB for EAEAEA) */
}

body {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}


.head_text {
  font-family: 'Playfair Display', serif;
  color: #0A0C14;
  font-size: 8rem;
  margin-top: 3rem;
  font-weight: bolder;
}

.section_text {
  font-family: 'Playfair Display', serif;
  color: #0A0C14;
  font-size: 6rem;
  margin-top: 3rem;
  font-weight:bold;
  text-align: center; 
}

.section_text2 {
  font-family: 'Playfair Display', serif;
  color: #0A0C14;
  font-size: 4rem;
  margin-top: 3rem;
  font-weight:bold;
  text-align: center; 
}

.catch_text {
  font-family: 'Playfair Display', serif;
  font-size:medium;
  font-weight: lighter;
}


.para_text{
  color: #0A0C14;
  font-size: medium;
  margin-top: 3rem;
}

.para_text2{
  color:#A10B0C;
  font-size: medium;
  
}



.conta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary_btn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #A10B0C;
  color: white;
  border: none;
  border-radius: 5px;
}


.custom-object-position {
  object-position: 50% 25%; /* Adjust the vertical position (20% from the top) */
}


.circle-img {
  width: 400px;
  height: 400px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.circle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 16px;
}

.card {
  width: calc(33.333% - 20px);
  margin-bottom: 32px;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input{
  width:100%;
	color:#111111;
	display:block;
}
  

.login-form .group .button{
	width:100%;
	color:#e6e2e2;
	display:block;
  margin-top: 3rem;
}
.login-form .group .input,
.login-form .group .button{
  
	border:none;
	padding:10px 100px;
	border-radius:10px;
  border-color: #ff4d00;
	background:rgba(27, 27, 27, 0.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#0A0C14;
	font-size:12px;
}
.login-form .group .button{
	background:#A10B0C;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(240, 239, 239, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#101010;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.forgot_pwd {
  font-size:x-small;
  color: #A10B0C;
  margin-left: 20rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.solid {
  border-top: 3px solid #1d1c1c;
  margin-bottom: 1.5rem;
}


.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
}